<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
</head>

<body>
  <header>
    ํ
  </header>
  <nav>
    <% if(locals.user){ %>
      <a href="/logout">๋ก๊ทธ์์</a>
      <% } else { %>
        <a href="/login">๋ก๊ทธ์ธ</a>
        <a href="/join">ํ์๊ฐ์</a>
        <% } %>
  </nav>
  <main>
    <% if(locals.user) { %>
      <%=user.nickname%>๋ ํ์ํฉ๋๋ค~~ ๋ฟ๋ฟ๐๐
        <% } %>
  </main>
  <section>
    <form id="fileForm">
      <input type="file" name="uploadFile" id="">
      <button id="uploadBtn">ํ์ผ์๋ก๋</button>
    </form>
  </section>
</body>
<script>
  const fileForm = document.getElementById("fileForm");
  fileForm.addEventListener("click", (e) => {
    e.preventDefault();

  })
</script>

</html>